{% extends "base.html" %} 
 
{% block title %}
<title> Todo List</title>
{% endblock title %} 

{% block content %}
    <div class="container">
        </br>
        {% if messages %}
            {% for message in messages%}
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
        <form method="POST" class="row">
            {% csrf_token %}
            <label class="col-lg-4">Your task for today</label>
            <input type="text" class="form-control col-lg-6" name="task" placeholder="New task?">        
            <button type="submit" class="btn btn-primary col-lg-2">Add Task</button>
        </form>
        <table class="table table-bordered">
            </br>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Done</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% if all_tasks %}
                    {% for obj in all_tasks %} 
                        {% if obj.done %}
                            <tr class="table-success">
                                <td> {{ obj.task }}</td>
                                <td> Done</td>
                                <td> Edit </td>
                                <td> Delete </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td> {{ obj.task }}</td>
                                <td> Not done </td>
                                <td> Edit </td>
                                <td> Delete </td>
                            </tr>
                        {% endif %} 
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        </br>
    </div>
{% endblock content %}